@font-face {
  font-family: "Fredoka One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/FredokaOne-Regular.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #EAFFD0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.blank {
  font-weight: bold;
  text-decoration: underline;
}

.button {
  padding: 15px;
  background-color: #FCE38A;
  border-radius: 30px;
  margin: 15px 0;
  width: 100%;
  display: inline-block;
  font-family: "Fredoka One", sans-serif;
  color: #F38181;
}
